body
{
   background-color: hsl(0, 0%, 20.8%);;
    margin: auto;
}
img
{
    border-radius: 10px;
    height: 230px;
    width: 306px;
}
.content
{
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 5px;
    padding: 10px;
}
.images
{
    display: inline-block;
    margin: 5px;
}
.list
{
    display: flex;
}
.list div
{
    margin:10px;
}
.main
{
    display: flex;
    flex-direction: column;
}
header
{

height: 10vh;
background-color: #0c1728;
margin-top:0;
padding:4px;
}
ul li
{
display: inline-block;
list-style: none;
}
nav a
{
display: flex;
color: white;
padding: 3PX;
margin: 4PX;
text-decoration: none;
}
nav a:hover
{
color: greenyellow;
}
.logo
{
display: inline-block;
}
.logo img
{
width: 57px;
height: 20px;
}
nav
{
display: flex;
font-size: large;
justify-items: center;
}